body {
    background: rgb(0,51,103);
    background: linear-gradient(90deg, rgba(0,51,103,1) 0%, rgba(0,113,227,1) 100%);
}

html, body {
    height: 100%;
    margin: 0;
}

#signupform {
    border-radius: 20px;
    background-color: white;
    padding: 0rem 2rem 6rem 2rem;
    margin-top: 9%;
}

#container {
    display: flex;
    justify-content: center;
}

* {
    font-family: Verdana, serif;
}

.button {
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(0,51,103,1) 0%, rgba(0,113,227,1) 100%);
    color: white;
    padding: 10px 60px;
    cursor: pointer;
    width: auto;
}

.title {
    text-align: center;
}

.wrapper {
    display: inline-flex;
    flex-direction: row-reverse;
}

#space {
    margin-right: 10px;
}

#textinput {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.spaceinput {
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
}

#textinput input[type="email"],
#textinput input[type="text"],
#textinput input[type="password"] {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.signupbutton {
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(0,51,103,1) 0%, rgba(0,113,227,1) 100%);
    color: white;
    padding: 10px 60px;
    cursor: pointer;
    width: 100%;
}

.alert {
    padding: 10px 5px 10px 500px;
    background-color: #f44336; /* Red */
    color: white;
    margin: 15px 10px 0px 10px;
    float: right;
    position: absolute;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}