body {
    height: 100%;
    margin: 0;
}

.image {
    border: 1px solid black;
    width: 40rem;
    height: 20rem;
    margin: 2rem;
    margin-inline: auto;
}

.description {
    border: 1px solid black;
    width: 40rem;
    height: 15rem;
    margin-inline: auto;
}
#addimg{
     height: 300px;
}
.card{
    width: 400px;
    height: 550px;
    margin-left: 500px;
    border: 1px solid black;
}