.text {
    color: black;
    padding-top: 3rem;
    margin-left: 20rem;
    /*
    border: 1px solid black;
    */
    margin-right: 2rem;
    text-align: justify;
}

.bold {
    font-weight: bold;
}

#redtext {
    color: red;
}

.button {
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(0, 51, 103, 1) 0%, rgba(0, 113, 227, 1) 100%);
    color: white;
    padding: 10px 60px;
    cursor: pointer;
    width: auto;
}