@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

#userX{
    /* 
    background-color: gray;
    */
}

.profile {
    border: 1px solid black;
    width: 40rem;
    height: 5rem;
    margin-inline: auto;
    margin-top: 3rem;
    background-color:#eee;
}
.name{

}
.button1 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.profilepicture {
    border: 1px solid black;
    border-radius: 360px;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
    margin-top: 0.8rem;
}

.username {
    border: 1px solid black;
    width: 30rem;
    height: 3rem;
    margin-left: 5rem;
    font-size: 30px;
    text-align: center;
}

body{
    background-color:#eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.height{
    height: 10rem;
}


.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input{
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus{
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search{
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
}

.canceluser{
    border: 1px solid black;
    float: right;
    width: 3rem;
    height: 3rem;
    margin-top: -3.95rem;
    background-color:#eee;
}

.close{
    width: 3rem;
    height: 3rem;
    margin-left: -0.4rem;
}