body {
    background: rgb(0,51,103);
    background: linear-gradient(90deg, rgba(0,51,103,1) 0%, rgba(0,113,227,1) 100%);
}

html, body {
    height: 100%;
    margin: 0;
}

#signupform {
    border-radius: 20px;
    background-color: white;
    padding: 0rem 2rem 6rem 2rem;
    margin-top: 7%;
}

#container {
    display: flex;
    justify-content: center;
}

* {
    font-family: Verdana, serif;
}

.button {
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(0,51,103,1) 0%, rgba(0,113,227,1) 100%);
    color: white;
    padding: 10px 60px;
    cursor: pointer;
    width: auto;
}

.title {
    text-align: center;
}

.wrapper {
    display: inline-flex;
    flex-direction: row-reverse;
}

#space {
    margin-right: 10px;
}

#textinput {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.spaceinput {
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
}

#textinput input[type="email"],
#textinput input[type="text"],
#textinput input[type="password"] {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.signupbutton {
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(0,51,103,1) 0%, rgba(0,113,227,1) 100%);
    color: white;
    padding: 10px 60px;
    cursor: pointer;
    width: 100%;
}

.line-md--home-twotone-alt {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Crect width='4' height='8' x='10' y='13' fill='%23000' fill-opacity='0.3'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4.5 21.5h15'/%3E%3Cpath d='M4.5 21.5V8M19.5 21.5V8'/%3E%3Cpath d='M9.5 21.5V12.5H14.5V21.5'/%3E%3Cpath stroke-width='2' d='M2 10L12 2L22 10'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#backbutton {
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(0,51,103,1) 0%, rgba(0,113,227,1) 100%);
    color: white;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    /*padding: 10px 60px;*/
    cursor: pointer;
    width: 4rem;
}

.alert1 {
    padding: 10px 5px 10px 500px;
/*    background-color: #f44336; !* Red *!
    color: white;*/
    margin: 15px 10px 0px 10px;
    float: right;
    position: absolute;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --dark: #34495E;
    --light: #ffffff;
    --success: #0ABF30;
    --error: #E24D4C;
    --warning: #E9BD0C;
    --info: #3498DB;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--dark);
}
.notifications {
    position: fixed;
    top: 30px;
    right: 20px;
}
.notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
}
.notifications .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}
.notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(calc(100% + 20px));
    }
}
.toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}
@keyframes progress {
    100% {
        width: 0%;
    }
}
.toast.success::before, .btn#success {
    background: var(--success);
}
.toast.error::before, .btn#error {
    background: var(--error);
}
.toast.warning::before, .btn#warning {
    background: var(--warning);
}
.toast.info::before, .btn#info {
    background: var(--info);
}
.toast .column i {
    font-size: 1.75rem;
}
.toast.success .column i {
    color: var(--success);
}
.toast.error .column i {
    color: var(--error);
}
.toast.warning .column i {
    color: var(--warning);
}
.toast.info .column i {
    color: var(--info);
}
.toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
}
.toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
}
.toast i:last-child:hover {
    color: var(--dark);
}
.buttons .btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    color: var(--light);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
}
@media screen and (max-width: 530px) {
    .notifications {
        width: 95%;
    }
    .notifications .toast {
        width: 100%;
        font-size: 1rem;
        margin-left: 20px;
    }
    .buttons .btn {
        margin: 0 1px;
        font-size: 1.1rem;
        padding: 8px 15px;
    }
}