* {
    box-sizing: border-box;
    font-family: Verdana, serif;
}

html, body {
    margin: 0;
    height: 100%;
/*    color: white;
    background-color: #202020;*/
}

#navbar {
    border: 1px solid black;
    height: 90%;
    position: fixed;
    text-align: center;
}

.navlinks {
    display: block;
    margin-left: 10px;
    color: white;
}

#rechts{
    margin-left: 200px
}
.spacer {
    margin-top: 2rem;
}

.button {
/*    background: #202020;
    color: white;*/
    padding: 10px 60px;
    cursor: pointer;
    width: 80%;
}
.navpic{
    height: 50px;
    width: 50px;
}
#profilenavbar {
    border: 1px solid black;
    padding-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 6rem;
    margin-top: 4rem;
}

.post {
    border: 1px solid black;
    width: 67.9rem;
    height: 40rem;
    margin: 10px 6rem 0 2rem;
}

.profilepicture {
    border: 1px solid black;
    margin: 3rem 59rem 2rem 5rem;
    display: flex;
    flex-direction: row;
    width: 4rem;
    height: 4rem;
    padding: 0;
}

.image {
    border: 1px solid black;
    padding-left: 53rem;
    margin-left: 5rem;
    width: 50rem;
    height: 20rem;
}

.username {
    border: 1px solid black;
    height: 2rem;
    margin: 18rem 45rem 2rem 5rem;
}

.description {
    border: 1px solid black;
    height: 10rem;
    width: 58rem;
    margin-left: 5rem;
}

.date {
    border: 1px solid black;
    margin-left: 20rem;
    width: 10rem;
    height: 2rem;
}

#footer {
    position: fixed;
    bottom: 0;
}