* {
    box-sizing: border-box;
    font-family: Verdana, serif;
}

html, body {
    margin: 0;
    height: 100%;
    color: white;
    background-color: #202020;
}

#navbar {
    border: 1px solid white;
    height: 90%;
    position: fixed;
    text-align: center;

}

.navlinks {
    display: block;
    margin-left: 10px;
    color: white;
}

#profile {

}

.spacer {
    margin-top: 2rem;
}

.button {
    border-radius: 15px;
    background: #202020;
    color: white;
    padding: 10px 60px;
    cursor: pointer;
    width: 80%;
}