html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.profilepicture {
    border: 1px solid black;
    width: 7rem;
    height: 7rem;
    margin-inline: 10px;
}

.username {
    border: 1px solid black;
    height: 3rem;
    width: 20rem;
    margin-inline: 5px;
}
#followdiv{
    border: 1px solid black;
    height: 3rem;
    width: 20rem;
    margin-inline: 5px;
}

.follow, .followcount, .posts {
    border: 1px solid black;
    width: 10rem;
    height: 3rem;
    margin-inline: 10px;
}

.space {
    height: 10px;
}

.description {
    border: 1px solid black;
    width: 32.5rem;
    height: 15rem;
    margin-inline: 10px;
}

.followbutton {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 660px) {
    .follow, .followcount, .posts {
        margin-left: auto;
        margin-right: auto;
    }

    .profilepicture, .description, .post, .line {
        margin-left: auto;
        margin-right: auto;
    }

    .line, post {
        margin-inline: 0;
    }
}

.post {
    border: 1px solid black;
    width: 32.5rem;
    height: 20rem;
    margin-inline: 10px;
}

.line {
    border-top: 2px solid black;
    width: 32.5rem;
    margin-inline: 10px;
}